<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="../../../../assets/img/logo_white.png" alt=""/>
      <h3>Welcome</h3>
      <p>You are 5 seconds away from saving your own money!</p>
      <input routerLink="/register" type="submit" name="" value="Register"/><br/>
    </div>
    <div class="col-md-9 register-right">

      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <h3 class="login-heading">Login to Family Finances</h3>
        <form (ngSubmit)="checkLogin()" #f="ngForm">
          <div ngModelGroup="login" #login="ngModelGroup">
          <div class="row register-form">
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Your Email *"
                  name="email"
                  ngModel
                  #email="ngModel"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password *"
                  name="password"
                  ngModel
                  #password="ngModel"
                  required
                />
              </div>
              <p>{{message}}</p>
              <input type="submit" class="btnRegister" value="Login"/>
<!--              <input type="submit" class="btnRegister" value="Reset Password"/>-->
            </div>
          </div>
          </div>
        </form>

      </div>
    </div>
  </div>

</div>
