<div class="container register">
  <div class="container register">
    <div class="row">
      <div class="col-md-3 register-left">
        <img src="../../../../assets/img/logo_white.png" alt=""/>
        <h3>Welcome</h3>
        <p>You are 30 seconds away from saving your own money!</p>
        <input routerLink="/login" type="submit" name="" value="Login"/><br/>
      </div>

      <div class="col-md-9 register-right">
        <form (ngSubmit)="onRegister()" #f="ngForm">
          <div ngModelGroup="newUser" #newUser="ngModelGroup">

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h3 class="register-heading">Register to Family Finances</h3>
                <div class="row register-form">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="First name *"
                        name="firstName"
                        ngModel
                        #firstName="ngModel"
                        required
                        *ngIf="showInputs"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Last name *"
                        name="lastName"
                        ngModel
                        #lastName="ngModel"
                        required
                        *ngIf="showInputs"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Your Email *"
                        name="email"
                        ngModel
                        #email="ngModel"
                        required
                        *ngIf="showInputs"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Password *"
                        name="password"
                        ngModel
                        #password="ngModel"
                        required
                        *ngIf="showInputs"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Confirm Password *"
                        name="confirmPassword"
                        ngModel
                        #confirmPassword="ngModel"
                        required
                        *ngIf="showInputs"
                      />
                    </div>
                    <!--                <div class="form-group">-->
                    <!--                  <select class="form-control">-->
                    <!--                    <option class="hidden" selected disabled>Please select your currency *</option>-->
                    <!--                    <option>EUR</option>-->
                    <!--                    <option>GBP</option>-->
                    <!--                    <option>CAD</option>-->
                    <!--                    <option>USD</option>-->
                    <!--                  </select>-->
                    <!--                </div>-->

                    <p style="text-align: center"><b>{{message}}</b></p>
                    <input *ngIf="showInputs" type="submit" class="btnRegister" value="Register"/>
                  </div>


                </div>
              </div>

            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
