<div class="container-fluid">
  <form (ngSubmit)="onSubmit(firstMonthDay.value, today.value)" #f="ngForm">
    <div ngModelGroup="incomes" #incomes="ngModelGroup">
      <div class="card">
        <div class="card-header"><h5>Incomes</h5></div>
        <table class="table">
          <tbody>
          <tr>
            <td>
              <input
                type="date"
                class="form-control"
                [ngModel]="defaultFirstMonthDay"
                name="firstMonthDay"
                #firstMonthDay="ngModel">
            </td>
            <td>
              <input
                type="date"
                class="form-control"
                [ngModel]="todayDate"
                name="today"
                #today="ngModel">
            </td>
            <td>
              <button
                class="btn btn-success"
                type="submit">
                <i class="fas fa-chart-pie"></i>
                Submit
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="chart-wrapper" *ngIf="pieChartLabels && pieChartData">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [plugins]="pieChartPlugins"
                  [legend]="pieChartLegend"
                  [colors]="chartColors">
          </canvas>
          <br>
        </div>
      </div>
    </div>
  </form>

  <!--  TABLE-->
  <div #pie class="card">
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <!--          <th>#</th>-->
          <th>Income Type</th>
          <th>Income Amount</th>
          <th>%</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of incomesStatistic | keyvalue">
          <!--          <td>{{1}}</td>-->
          <td>{{item.key}}</td>
          <td>{{item.value | currency}}</td>
          <td>{{(100 / amountSum) * item.value | number:'1.2-2'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-incomes-list></app-incomes-list>

</div>

<br>
<br>
