/*div .column {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  margin: 5px;*/
/*  !*width: 24%;*!*/
/*  min-width: 20%;*/
/*  padding: 5px;*/
/*  text-align: center;*/
/*  font-size: 12px;*/
/*  background-color: white;*/
/*}*/


.card {
  text-align: center;
}

div {
  background-color: #e2e2e2;
  border: solid #e2e2e2 1px;
  border-radius: 5px;
  text-align: center;
}
