<div>
  <table class="table">
    <tbody>
    <tr>
      <td>Incomes <br> <b>{{sharedStatistic?.currentMonthIncomes| currency}}</b></td>
      <td>Expenses <br> <b>{{sharedStatistic?.currentMonthExpenses| currency}}</b></td>
      <td>Balance <br> <b>{{sharedStatistic?.currentMonthBalance| currency}}</b></td>
      <td>Valet <br> <b>{{sharedStatistic?.allTimeBalance| currency}}</b></td>
    </tr>
    </tbody>
  </table>
</div>



