<!--<form (ngSubmit)="onSubmit()" #f="ngForm">-->
<form #f="ngForm">
  <div ngModelGroup="newIncomeRecord" #newIncomeRecord="ngModelGroup">
    <div class="card">
      <table class="table">
        <tbody>
        <tr>
          <td>
            <input
              type="date"
              class="form-control"
              [ngModel]="todayDate"
              name="date"
              required
              #date="ngModel">
          </td>
          <td>

            <select class="form-control" #typeName>
              <option *ngFor="let incomeType of incomeTypes" value="{{incomeType.incomeTypeName}}">
                {{incomeType.incomeTypeName}}
              </option>

            </select>
          </td>
          <td>
            <input
              type="text"
              class="form-control"
              placeholder="Income name"
              ngModel
              name="name"
              required
              #name="ngModel">
          </td>
          <td>
            <input
              type="number"
              class="form-control"
              placeholder="Amount"
              ngModel
              name="value"
              required
              #value="ngModel"
              pattern="^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$">
          </td>
          <td>
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!f.valid"
            (click)="onSubmit(typeName.value)">Submit
            </button>
          </td>
        </tr>

        </tbody>
      </table>
      <p class="help-block" *ngIf="!name.valid && name.touched || !value.valid && value.touched ">Please fill all
        fields</p>
    </div>
  </div>
</form>

