p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*background-color: #e2e2e2;*/
  color: #7d7b7b;
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
  font-size: 15px;
}

