<p><i class="far fa-copyright"></i> 2020 FamFin. All rights reserved. Author
  <a href="http://upondev.com/" target="_blank">upondev.com </a> &nbsp;
  <a href="https://www.linkedin.com/in/vladas-uponavicius/" target="_blank"><i class="fab fa-linkedin"></i></a> &nbsp;

  Project email: <a href="mailto:FamFinApp@gmail.com">FamFinApp@gmail.com</a>
</p>
