<!--<nav class="nav nav-tabs">-->
<!--  <div class="container-fluid">-->
<!--    <div class="list-inline">-->

<!--      <ul class="nav nav-item">-->
<!--        <li routerLinkActive="active" class="nav-item" id="famFin">-->
<!--          <a class="nav-link" routerLink="/statistic">-->
<!--            <img id="logo" src="../../../assets/img/FamFin_logo.png" width="75">-->
<!--          </a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active" class="nav-item">-->
<!--          <a class="nav-link" routerLink="/incomes">-->
<!--            <img src="../../../assets/icons/file-arrow-down.svg" width="16" height="16">-->
<!--            Incomes</a></li>-->
<!--        <li routerLinkActive="active" class="nav-item">-->
<!--          <a class="nav-link" routerLink="/expenses">-->
<!--            <img src="../../../assets/icons/file-arrow-up.svg" width="16" height="16">-->
<!--            Expenses</a></li>-->
<!--        <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/statistic">-->
<!--          <img src="../../../assets/icons/pie-chart.svg" width="16" height="16">-->
<!--          Statistic</a></li>-->


<!--        <li ngbDropdown class="nav-item">-->
<!--          <a ngbDropdownToggle class="nav-link dropdown-toggle " data-toggle="dropdown">-->
<!--            <svg class="bi bi-person-lines-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"-->
<!--                 xmlns="http://www.w3.org/2000/svg">-->
<!--              <path fill-rule="evenodd"-->
<!--                    d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm7 1.5a.5.5 0 01.5-.5h2a.5.5 0 010 1h-2a.5.5 0 01-.5-.5zm-2-3a.5.5 0 01.5-.5h4a.5.5 0 010 1h-4a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h4a.5.5 0 010 1h-4a.5.5 0 01-.5-.5zm2 9a.5.5 0 01.5-.5h2a.5.5 0 010 1h-2a.5.5 0 01-.5-.5z"-->
<!--                    clip-rule="evenodd"/>-->
<!--            </svg>-->
<!--            ACCOUNT</a>-->
<!--          <div ngbDropdownMenu class="dropdown-menu">-->

<!--            <a class="dropdown-item" routerLink="account-settings/general-settings">-->
<!--              <img src="../../../assets/icons/gear.svg" width="16" height="16">-->
<!--              General Settings</a>-->

<!--            <a class="dropdown-item" routerLink="account-settings/types-settings">-->
<!--              <img src="../../../assets/icons/card-list.svg" width="16" height="16">-->
<!--              Types Settings</a>-->
<!--            <a id="button-sign-out" class="dropdown-item">-->
<!--              <img src="../../../assets/icons/power.svg" width="16" height="16">-->
<!--              Sign out</a>-->
<!--          </div>-->
<!--        </li>-->


<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--<br>-->

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color"
     *ngIf="authService.isUserLoggedIn()"
>
  <a class="navbar-brand" routerLink="/statistic">
    <b> <i class="fas fa-users"></i> FamFin</b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
          aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/expenses">
          <i class="fas fa-arrow-circle-up"></i>
          Expenses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/incomes">
          <i class="fas fa-arrow-circle-down"></i>
          Incomes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/statistic">
          <i class="fas fa-chart-pie"></i>
          Statistic
        </a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user-circle"></i>&nbsp;<b>{{ firstName}}</b>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
             aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" routerLink="account-settings/general-settings">
            <i class="fa fa-cog"> </i>
            General Settings
          </a>
          <a class="dropdown-item" routerLink="account-settings/types-settings">
            <i class="fas fa-th-list"></i>
            Types Settings
          </a>
          <hr>
          <a class="dropdown-item" routerLink="logout">
            <i class="fas fa-sign-out-alt"></i>
            Sign out
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->


