nav {
  background-color: #4285F4;
  color: #ffffff;
}

.fa-user-circle {
  font-size: 22px;
}
/*a {*/
/*  color: #ffffff;*/
/*  cursor: pointer;*/
/*}*/

/*a hover {*/
/*  background-color: #0099cc;*/
/*}*/

/*.dropdown-item {*/
/*  color: black;*/
/*}*/

/*#famFin {*/
/*  font-weight: bold;*/
/*}*/

/*.nav-item img {*/
/*  filter: invert(100%);*/
/*}*/

/*li .dropdown-item img {*/
/*  filter: invert(0%);*/
/*}*/

/*#logo {*/
/*  filter: invert(100%);*/
/*}*/

/*nav {*/
/*  align-content: center;*/
/*  justify-items: center;*/
/*  justify-content: center;*/
/*}*/

#button-sign-out {
  border-top: 0.5px solid gray;

}

/*.nav-tabs {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  justify-content: center;*/
/*}*/
