<div class="header">
  <h3>EXPENSES</h3>
</div>
<div>
  <app-new-expense (infoChanged)="reloadAnotherComponent()"></app-new-expense>
</div>
<div>
  <app-current-month-statistic></app-current-month-statistic>
</div>
<div>
  <app-expenses-list></app-expenses-list>
</div>


