/*.container-fluid {*/

/*}*/

/*div .row {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  margin: 10px;*/
/*  padding: 5px;*/
/*  justify-content: center;*/
/*  background-color: #e2e2e2;*/
/*}*/

/*!*pasalinti kai pasalinsiu nebe*!*/
/*div .column {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  margin: 5px;*/
/*  width: 24%;*/
/*  padding: 5px;*/
/*  text-align: center;*/
/*  font-size: 12px;*/
/*  background-color: white;*/
/*}*/

/*.header {*/
/*  background-color: #9933cc;*/
/*  color: #ffffff;*/
/*  padding: 15px;*/
/*  margin-top: 15px;*/
/*  border-radius: 5px;*/
/*  text-align: left;*/
/*}*/


/*#current {*/
/*  background-color: #e2455a;*/
/*}*/
/*app-current-month-statistic {*/
/*  width: 90%;*/
/*  background-color: #33b5e5;*/
/*  float: none;*/
/*  justify-self: left;*/
/*}*/

.header {
  color: #2E86C1;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
  text-align: left;
  padding-left: 20px;
}

div {
  margin-top: 5px;
}






