/*input, select {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  text-align: center;*/
/*}*/

/*div .column {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  margin: 5px;*/
/*  width: 24%;*/
/*  padding: 5px;*/
/*  text-align: center;*/
/*  font-size: 12px;*/
/*  background-color: white;*/
/*}*/

/*button {*/
/*  margin-left: 5px;*/
/*}*/

/*input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {*/
/*  border: 1px solid red;*/
/*}*/

/*span, p {*/
/*  text-align: center;*/
/*}*/

p {
  text-align: center;
  font-weight: bold;
}
