td, th {
  text-align: center;
}


#amount {
  text-align: right;
}

/*.btn{*/
/*  border: none;*/
/*  width: 32px;*/
/*  height: 32px;*/
/*  !*background-color: #eee;*!*/
/*  transition: all ease-in-out 0.2s;*/
/*  cursor: pointer;*/
/*}*/
/*.btn:hover{*/
/*  border: 1px solid #888;*/
/*  background-color: #ff0000;*/
/*}*/
