<div class="card">
  <div class="card-body">
    <!--    <table class="table table-hover" *ngIf="expenses.length">-->
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Type</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{expenses.indexOf(expense) + 1}}</td>
        <td>
          <input #date class="form-control form-control-sm" type="date" value="{{expense.date | date: 'yyyy-MM-dd' }}">
        </td>
        <td>
          <select class="form-control form-control-sm" #expenseTypeIdSelect>
            <option *ngFor="let expenseType of expenseTypes"
                    [selected]="expenseType.expenseTypeId===expense.expenseTypeId">
              {{findExpenseTypeName(expenseType.expenseTypeId)}}
            </option>
          </select>
        </td>
        <td><input #name class="form-control form-control-sm" type="text" value="{{expense.name}}"></td>
        <td><input #amount class="form-control form-control-sm" id="amount" type="number" value="{{expense.amount}}">

        <td>
          <button
            class="btn btn-sm btn-primary"
            title="Update record"
            (click)="onUpdateExpense(expenseTypeIdSelect.value, expense.expenseId, date.value, name.value, amount.valueAsNumber  )">
            <i class="far fa-edit"></i></button>
        </td>
        <td>
          <button
            class="btn btn-sm btn-danger"
            title="Delete record"
            (click)="onDeleteExpense(expenseTypeIdSelect.value, expense.expenseId)">
            <i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<br>
