* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
}

/*.header {*/
/*  color: #2E86C1;*/
/*  padding-top: 5px;*/
/*  padding-bottom: 5px;*/
/*  margin-top: 5px;*/
/*  border-radius: 5px;*/
/*  text-align: left;*/
/*  padding-left: 20px;*/
/*}*/

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.menu li:hover {
  background-color: #0099cc;
}

li img {
  filter: invert(100%);
}

a {
  color: white;
  text-decoration: none;
}

ul {
  width: 105%;
}
