<div class="header">
  <h3>Account Settings</h3>
</div>

<div class="row">
  <div class="col-2 menu">
    <ul type="button">
      <a routerLink="general-settings">
        <li><i class="fa fa-cog"> </i> General Settings</li>
      </a>
      <a routerLink="types-settings">
        <li><i class="fas fa-th-list"></i> Types Settings</li>
      </a>
    </ul>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
