<div class="header display-1">
  <h3>INCOMES</h3>
</div>
<div>
  <app-new-income (infoChanged)="reloadAnotherComponent()"></app-new-income>
</div>
<div>
  <app-current-month-statistic></app-current-month-statistic>
</div>
<div>
<!--  <app-incomes-list [changeDetected]=isChangedComponent ></app-incomes-list>-->
  <app-incomes-list></app-incomes-list>
</div>
<br>
