<div class="container">

  <app-header></app-header>
  <div class="row">
    <div class="col-md-12">
      <!--      <app-auth></app-auth>-->
<!--      <app-login></app-login>-->
<!--      <app-register></app-register>-->

      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>


