<div class="card">
  <div class="card-body">
    <!--    <table class="table table-hover" *ngIf="incomes.length">-->
    <table class="table table-hover">

      <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Type</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let income of incomes">
        <td>{{incomes.indexOf(income) + 1}}</td>
        <td>
          <input #date class="form-control form-control-sm" type="date" value="{{income.date | date: 'yyyy-MM-dd' }}">
        </td>

        <td>
          <select class="form-control form-control-sm" #incomeTypeIdSelect>
            <option *ngFor="let incomeType of incomeTypes" [selected]="incomeType.incomeTypeId===income.incomeTypeId">
              {{findIncomeTypeName(incomeType.incomeTypeId)}}
            </option>
          </select>
        </td>

        <!--        <td><input type="text" value="{{income.incomeId}}"></td>-->
        <td><input #name class="form-control form-control-sm" type="text" value="{{income.name}}"></td>
        <td><input #amount class="form-control form-control-sm" id="amount" type="number" value="{{income.amount}}">
        </td>
        <td>
          <button
            class="btn btn-sm btn-primary"
            title="Update record"
            (click)="onUpdateIncome(incomeTypeIdSelect.value, income.incomeId, date.value, name.value, amount.valueAsNumber)">
            <i class="far fa-edit"></i>
          </button>
        </td>
        <td>
          <button
            class="btn btn-sm btn-danger"
            title="Delete record"
            (click)="onDeleteIncome(incomeTypeIdSelect.value,income.incomeId)">
            <i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<br>
