/*div .row {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  margin: 10px;*/
/*  padding: 5px;*/
/*  justify-content: center;*/
/*  background-color: #e2e2e2;*/
/*}*/

/*input {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  text-align: center;*/
/*}*/

/*div.row {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  margin: 5px;*/
/*  !*padding: 5px;*!*/
/*  justify-content: center;*/
/*  background-color: #e2e2e2;*/
/*}*/

/*button {*/
/*  margin-left: 5px;*/
/*}*/

h5, p, td, tr, .graphic {
  text-align: center;
}

.card {
  margin-bottom: 5px;
}
