<div class="container-fluid">
  <form (ngSubmit)="onSubmit(lastYearCurrentMonthFirstDay.value, today.value)" #f="ngForm">
    <div ngModelGroup="balance" #balance="ngModelGroup">
      <div class="card">
        <div class="card-header"><h5>Balance</h5></div>

        <table class="table">
          <tbody>
          <tr>
            <td>
              <input
                type="date"
                class="form-control"
                [ngModel]="defaultLastYearCurrentMonthFirstDay"
                name="lastYearCurrentMonthFirstDay"
                #lastYearCurrentMonthFirstDay="ngModel">
            </td>
            <td>
              <input
                type="date"
                class="form-control"
                [ngModel]="todayDate"
                name="today"
                #today="ngModel">
            </td>
            <td>
              <button
                class="btn btn-success"
                type="submit">
                <i class="fas fa-chart-area"> </i>
                Submit
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="chart-wrapper">
          <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>
    </div>
  </form>

  <!--  TABLE-->
  <div #pie class="card">
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <!--          <th>#</th>-->
          <th>Month</th>
          <th>Incomes</th>
          <th>Expenses</th>
          <th>Balance</th>
          <th>Average Daily Spend</th>
          <th>Incomes Average</th>
          <th>Expenses Average</th>
        </tr>
        </thead>
        <tbody>
        <tr>
<!--        <tr *ngFor="let item of balanceDate | keyvalue">-->
         <td></td>
         <td></td>
         <td></td>
         <td></td>
<!--         <td>{{incomeAverage | currency}}</td>-->
<!--         <td>{{expenseAverage | currency}}</td>-->
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<br>
<br>


