/*div .row {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  margin: 10px;*/
/*  padding: 5px;*/
/*  justify-content: center;*/
/*  background-color: #e2e2e2;*/
/*}*/

/*.form-group {*/
/*  text-align: center;*/
/*}*/

/*input, select {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  text-align: center;*/
/*}*/



/*div.row {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  margin: 5px;*/
/*  !*padding: 5px;*!*/
/*  justify-content: center;*/
/*  background-color: #e2e2e2;*/
/*  text-align: center;*/
/*}*/

/*button {*/
/*  margin-left: 5px;*/
/*}*/

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border: 1px solid red;
}

h5, p, td, tr {
  text-align: center;
}

.card {
  margin-bottom: 5px;
}

/*span, p, h5 {*/
/*  text-align: center;*/
/*}*/
