<div class="container-fluid">
  <!--  CHANGE PASSWORD-->
  <form (ngSubmit)="onChangePasswordSubmit()" #fChangePass="ngForm">
    <div ngModelGroup="changePassword" #changePassword="ngModelGroup">
      <div class="card">
        <div class="card-header"><h5>Change Password</h5></div>

        <table class="table">
          <tbody>
          <tr>
            <td>
              <input
                type="password"
                class="form-control"
                placeholder="Enter old password"
                ngModel
                name="oldPass"
                required
                #oldPass="ngModel">
            </td>
            <td>
              <input
                type="password"
                class="form-control"
                placeholder="Enter new password"
                ngModel
                name="newPass"
                required
                #newPass="ngModel"
                pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
            </td>
            <td>
              <input
                type="password"
                class="form-control"
                placeholder="Repeat new password"
                ngModel
                name="repeatNewPass"
                required
                #repeatNewPass="ngModel"
                pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
            </td>
            <td>
              <button
                class="btn btn-success"
                type="submit"
                [disabled]="!fChangePass.valid">
                <!--                <i class="fas fa-key"></i>-->
                Change Password
              </button>
            </td>
          </tr>

          </tbody>
        </table>
        <div class="card-footer"
             *ngIf="!oldPass.valid && oldPass.touched ||
           !newPass.valid && newPass.touched ||
           !repeatNewPass.valid && repeatNewPass.touched ||
            message !== ''">
          <p class="help-block" *ngIf="!oldPass.valid && oldPass.touched">
            Please enter a valid old password!
          </p>
          <p class="help-block" *ngIf="!newPass.valid && newPass.touched">
            Please enter a valid new password! Minimum eight characters, at least one letter and one number.
          </p>
          <p class="help-block" *ngIf="!repeatNewPass.valid && repeatNewPass.touched">
            Please repeat a valid new
          </p>
          <p class="help-block" *ngIf="message !== ''">
            {{message}}
          </p>
          <!--        <p class="help-block">New passwords do not match</p>-->
        </div>
      </div>


    </div>
  </form>

  <!--  DELETE ACCOUNT-->

  <form (ngSubmit)="onDeleteAccountSubmit(email.value, pass.value)" #fDeleteAccount="ngForm">
    <div ngModelGroup="deleteAccount" #deleteAccount="ngModelGroup">
      <div class="card">
        <div class="card-header"><h5>Delete Account</h5></div>

        <table class="table">
          <tbody>
          <tr>
            <td>
              <input
                type="email"
                class="form-control"
                placeholder="Enter email"
                ngModel
                name="email"
                required
                #email="ngModel">
            </td>
            <td>
              <input
                type="password"
                class="form-control"
                placeholder="Enter password"
                ngModel
                name="pass"
                required
                #pass="ngModel">
              <!--              pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"-->
            </td>
            <td>
              <button
                class="btn btn-danger"
                type="submit"
                [disabled]="!fDeleteAccount.valid">
                <!--                <i class="far fa-trash-alt"></i>-->
                Delete Account
              </button>
            </td>
          </tr>


          </tbody>

        </table>
        <p id="deleteAccountParagraph">
          <i class="fas fa-exclamation-circle"></i>
          The account and all data will be deleted
          <i class="fas fa-exclamation-circle"></i>
        </p>

        <div class="card-footer" *ngIf="!email.valid && email.touched || !pass.valid && pass.touched">
          <p class="help-block" *ngIf="!email.valid && email.touched">
            Please enter a valid email!
          </p>
          <p class="help-block" *ngIf="!pass.valid && pass.touched">
            Minimum eight characters, at least one letter and one number.
          </p>


        </div>
      </div>
    </div>
  </form>

</div>
