td, th, h5, p {
  text-align: center;
}

#amount {
  text-align: right;
}

.card {
  margin-bottom: 10px;
}

/*div.row {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  margin: 5px;*/
/*  !*padding: 5px;*!*/
/*  justify-content: center;*/

/*}*/


/*div .col {*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  !*margin: 5px;*!*/
/*  !*width: 46.75%;*!*/
/*  !*padding: 5px;*!*/
/*  text-align: center;*/
/*  background-color: #e2e2e2;*/
/*}*/

/*button {*/
/*  margin-left: 5px;*/
/*}*/

/*#incomesColumn {*/
/*  margin-right: 5px;*/
/*}*/

/*#expenseColumn {*/
/*  margin-left: 5px;*/
/*}*/

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border: 1px solid red;
}

/*span, p {*/
/*  text-align: center;*/
/*}*/

/*hr {*/
/*  border: 1px solid white;*/
/*}*/


