<div class="container-fluid">
  <div class="row">

    <!--      ____________________________________ INCOME TYPE ____________________________________-->
    <!--      CREATE INCOME TYPE-->
    <div class="col">
      <!--      <form (ngSubmit)="onIncomeTypeCreate()" #fIncomeType="ngForm">-->
      <form #fIncomeType="ngForm">

        <div ngModelGroup="incomeTypeCreate" #incomeTypeCreate="ngModelGroup">
          <div class="card">
            <div class="card-header"><h5>Income types</h5></div>
            <table class="table">
              <tbody>
              <tr>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter income type name"
                    ngModel
                    name="incomeTypeName"
                    required
                    #incomeTypeName="ngModel">
                </td>
                <td>
                  <button
                    class="btn btn-success"
                    type="submit"
                    [disabled]="!fIncomeType.valid" (click)="onIncomeTypeCreate()">Create
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="card-footer" *ngIf="!incomeTypeName.valid && incomeTypeName.touched">
              <p class="help-block" *ngIf="!incomeTypeName.valid && incomeTypeName.touched">
                Please enter new income type name.
              </p>
            </div>
          </div>

          <!--          INCOME TYPE LIST-->
          <div class="card">
            <div class="card-body">
              <!--              <table class="table table-hover" *ngIf="incomeTypes.length">-->
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Update</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let incomeType of incomeTypes">
                  <td>
                    <input class="form-control form-control-sm" type="text" #incomeTypeNameUpdateInput value="{{incomeType.incomeTypeName}}">
                  </td>
                  <td>
                    <button class="btn btn-sm btn-primary" title="Update"
                            (click)="onIncomeTypeUpdate(incomeTypeNameUpdateInput.value, incomeType.incomeTypeId)"><i
                      class="far fa-edit"></i></button>
                  </td>

                  <td>
                    <button
                      class="btn btn-sm btn-danger"
                      title="ATTENTION! If delete {{incomeType.incomeTypeName | uppercase}} type, it will also remove all records of that type!"
                      (click)="onIncomeTypeDelete(incomeType.incomeTypeId)">
                      <i class="fas fa-trash-alt">
                      </i></button>
                  </td>

                </tr>
                </tbody>
              </table>
              <div id="incomeTypeMessageId" class="card-footer" *ngIf="incomeTypeMessage">
                <p class="help-block">{{incomeTypeMessage}}</p>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>


    <!--      ____________________________________ EXPENSE TYPE ____________________________________-->
    <!--      CREATE EXPENSE TYPE-->
    <div class="col">

      <!--      <form (ngSubmit)="onExpenseTypeCreate()" #fExpenseType="ngForm">-->
      <form #fExpenseType="ngForm">
        <div ngModelGroup="expenseTypeCreate" #expenseTypeCreate="ngModelGroup">
          <div class="card">
            <div class="card-header"><h5>Expense types</h5></div>
            <table class="table">
              <tbody>
              <tr>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter expense type name"
                    ngModel
                    name="expenseTypeName"
                    required
                    #expenseTypeName="ngModel">
                </td>
                <td>
                  <button
                    class="btn btn-success"
                    type="submit"
                    [disabled]="!fExpenseType.valid"
                    (click)="onExpenseTypeCreate()">Create
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="card-footer" *ngIf="!expenseTypeName.valid && expenseTypeName.touched">
              <p class="help-block" *ngIf="!expenseTypeName.valid && expenseTypeName.touched">
                Please enter new expense type name.
              </p>
            </div>
          </div>
        </div>

        <!--          EXPENSE TYPE LIST-->
        <div class="card">
          <div class="card-body">
            <!--            <table class="table table-hover" *ngIf="expenseTypes.length">-->
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Name</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let expenseType of expenseTypes">
                <td><input class="form-control form-control-sm" #expenseTypeNameUpdateInput type="text" value="{{expenseType.expenseTypeName}}"></td>
                <td>
                  <button class="btn btn-sm btn-primary" title="Update"
                          (click)="onExpenseTypeUpdate(expenseTypeNameUpdateInput.value, expenseType.expenseTypeId)"><i
                    class="far fa-edit"></i></button>
                </td>
                <td>
                  <button
                    class="btn btn-sm btn-danger"
                    title="ATTENTION! If delete {{expenseType.expenseTypeName | uppercase}} type, it will also remove all records of that type!"
                    (click)="onExpenseTypeDelete(expenseType.expenseTypeId)">
                    <i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="card-footer" *ngIf="expenseTypeMessage">
              <p class="help-block">{{expenseTypeMessage}}</p>
            </div>
          </div>
        </div>
      </form>
    </div>


  </div>

</div>
<br>

