<div class="header">
  <h3>Statistic</h3>
</div>

<div class="row">
  <div class="col-2 menu">
    <ul type="button">
      <a routerLinkActive="active" routerLink="balance">
        <li><i class="fas fa-chart-area"></i> Balance</li>
      </a>

      <a routerLinkActive="active" routerLink="incomes-statistic">
        <li><i class="fas fa-chart-pie"></i> Incomes Statistic</li>
      </a>

      <a routerLinkActive="active" routerLink="expenses-statistic">
        <li><i class="fas fa-chart-pie"></i> Expenses Statistic</li>
      </a>
    </ul>
  </div>

  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
